@font-face {
    font-family: "sushiki";
    src: url("./sushiki/sushiki.ttf");
}
html{
    font-family: "PingFangSC-Regular", "Raleway", Roboto, serif;
    overflow: auto;
    background: #ebebe3 url(./image/tilted_watermark.svg) repeat fixed;
    background-size: 10% 10%;
    width: 100vw;
    height: 100vh;
}
body{
    padding: 0;
}
img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    opacity: 1;
    max-width: 100%;
    margin: 20px auto;
    display: block;
    position: relative;
}


.text_piece{
    width: 320px;
    margin: 50px auto;
    padding: 30px 30px 30px 30px;
    color: #c19898;
    font-size: 100%;
    background-color: #4a4a48;

    text-align: left;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 2px 70px #2b2b28;
}
.text_piece footer{
    font-size: 70%;
    text-align: right;
}