@font-face {
    font-family: "sushiki";
    src: url("./sushiki/sushiki.ttf");
}
html{
    font-family: "PingFangSC-Regular", "Raleway", Roboto, serif;
    overflow: auto;
    background: #ebebe3 url(../image/tilted_watermark.svg) repeat fixed;
    background-size: 10% 10%;
    width: 100vw;
    height: 100vh;
}
body{
    padding: 0;
    margin: 0;
}
#menu{
    height: 100vh;
    width: 30%;
    background-color: #000000;
    display: block;
    position: fixed;
}
#menu div:nth-child(1){
    width: 100%;
    height: 40%;
    background-color: #e0bb20;
    left: 0;
    top: 65%;
    position: relative;
}
#menu div:nth-child(2){
    width: 100%;
    height: 33.33%;
    background-color: #841818;
    left: 0;
    top: 0;
    position: absolute;
}
.text_pieces{
    position: absolute;
    width: 50vw;
    left: calc((100% - 50vw)/2);
}
.text_piece{
    width: 320px;
    margin: 50px auto;
    padding: 30px;
    color: #c19898;
    font-size: 100%;
    background-color: #4a4a48;
    text-align: left;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 1px 70px #2b2b28;
}
.text_piece footer{
    font-size: 70%;
    text-align: right;
}