html,body{
    padding:0;
    margin:0;
    background-color: #4d4545;
}
.stage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.wrapper{
    position: absolute;
}
.bar{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
.bar::before,
.bar::after{
    content: "";
    top:0;
    display: block;
    position: absolute;
}
.bar::before{
    height: 50%;
    width: 4px;
    left: calc(50% - 2px);
}
.bar::after{
    height: 30px;
    width: 30px;
    left: calc(50% - 15px);
    border-radius: 15px;
}
.wrapper1{
    height: 600px;
    width: 600px;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
}
.wrapper1 .bar::before,
.wrapper1 .bar::after{
    background-color: #b8b2a6;
}
.wrapper2{
    height: 500px;
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
}
.wrapper2 .bar::before,
.wrapper2 .bar::after{
    background-color: #f4dada;
}
.wrapper3{
    height: 400px;
    width: 400px;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
}
.wrapper3 .bar::before,
.wrapper3 .bar::after{
    background-color: #fdfdf6;
}
.wrapper4{
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}
.wrapper4 .bar::before,
.wrapper4 .bar::after{
    background-color: #dbe9b7;
}
.wrapper5{
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}
.wrapper5 .bar::before,
.wrapper5 .bar::after{
    background-color: #c9d6df;
}


.wrapper1 {
    animation: bound 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 0s forwards,
    boundreverse 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 2.2s forwards;
}
.wrapper2 {
    animation: bound 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 0.1s forwards,
    boundreverse 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 2.1s forwards;
}
.wrapper3 {
    animation: bound 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 0.2s forwards,
    boundreverse 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 2.0s forwards;
}
.wrapper4 {
    animation: bound 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 0.3s forwards,
    boundreverse 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 1.9s forwards;
}
.wrapper5 {
    animation: bound 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 0.4s forwards,
    boundreverse 1.4s cubic-bezier(0.67, -0.01, 1, 0.93) 1.8s forwards;
}

@keyframes bound {
    0%   { transform: rotate(0deg); }
    40%  { transform: rotate(360deg); }
    50%  { transform: rotate(340deg); }
    60%  { transform: rotate(360deg); }
    70%  { transform: rotate(350deg); }
    80%  { transform: rotate(360deg); }
    90%  { transform: rotate(355deg); }
    100% { transform: rotate(360deg); }
}
@keyframes boundreverse {
    0%   { transform: rotate(0deg); }
    40%  { transform: rotate(-360deg); }
    50%  { transform: rotate(-340deg); }
    60%  { transform: rotate(-360deg); }
    70%  { transform: rotate(-350deg); }
    80%  { transform: rotate(-360deg); }
    90%  { transform: rotate(-355deg); }
    100% { transform: rotate(-360deg); }
}